extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 Anurag Rawal

        //- Feel free personalize the title below
        p.lead.text-light
          | Full Stack JavaScript Developer.

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | Web Developer with intermediate skills in Back-end Development using J2EE, Express.js, Node.js, Spring MVC and Front-end Development using React.js, HTML, CSS, Bootstrap. Motivated to learn more frameworks.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li Express
          li Spring Boot
          li J2EE
          li React.js
          li Web Designing using HTML5, CSS3 
        h6 Contact Info

        //- Add your own contact info
        ul
          li 778-788-6322
          li anuragrawal98@gmail.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='https://www.linkedin.com/in/anuragr07/') LinkedIn
        a.button.expanded(href='https://github.com/anuragr07') GitHub
        a.button.expanded(href='') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  